# No whitespace after the comma or in your part name!
config SHIELD_TASTATURR_LEFT
    def_bool $(shields_list_contains,tastaturr_left)

# No whitespace after the comma or in your part name!
config SHIELD_TASTATURR_RIGHT
    def_bool $(shields_list_contains,tastaturr_right)