#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>

&sk {
    release-after-ms = <2000>;
    quick-release;
    /delete-property/ ignore-modifiers;
};

ZMK_MACRO(macro_ae,
        wait-ms = <10>;
        tap-ms = <20>;
        bindings = <&kp RALT &kp Q>;
)
ZMK_MACRO(macro_ue,
        wait-ms = <10>;
        tap-ms = <20>;
        bindings = <&kp RALT &kp Y>;
)
ZMK_MACRO(macro_oe,
        wait-ms = <10>;
        tap-ms = <20>;
        bindings = <&kp RALT &kp P>;
)

/ {
    behaviors {
        morph_LBKTT: morph_LBKTT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LPAR>, <&kp LT>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
        morph_LBKT: morph_LBKT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LBRK>, <&morph_LBKTT>;
            mods = <(MOD_LCTL |MOD_RCTL)>;
        };
        morph_RBKTT: morph_RBKTT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RPAR>, <&kp GT>;
            mods = <(MOD_LALT|MOD_RALT)>;
        };
        morph_RBKT: morph_RBKT {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp RBRK>, <&morph_RBKTT>;
            mods = <(MOD_LCTL |MOD_RCTL)>;
        };

    };
    
    keymap {
        compatible = "zmk,keymap";

        Home {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC                         &kp N1  &kp N2  &kp N3      &kp N4              &kp N5                                  &kp N6      &kp N7          &kp N8    &kp N9        &kp N0      &kp APOS
&kp TAB                         &kp Q   &kp W   &kp F       &kp P               &kp B                                   &kp J       &kp L           &kp U     &kp Y         &kp SEMI    &kp MINUS
&mt LEFT_CONTROLL RIGHT_CONTROL &kp A   &kp R   &kp S       &kp T               &kp G                                   &kp M       &kp N           &kp E     &kp I         &kp O       &mt LALT RALT
&mt LEFT_SHIFT RIGHT_SHIFT      &kp Z   &kp X   &kp C       &kp D               &kp V       &kp LBKT       &kp RBKT     &kp K       &kp H           &kp COMMA &kp PERIOD    &kp SLASH   &mt LGUI GRAVE
                                                            &sk LEFT_CONTROLL   &kp SPACE   &mo 2          &mo 3        &kp ENTER   &sk LEFT_SHIFT
            >;

            
        };
        Deutsch {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&trans &trans           &trans      &trans      &trans      &trans                              &trans      &trans      &trans           &trans     &trans              &trans
&trans &trans           &trans      &trans      &trans      &trans                              &trans      &trans      &mt U &macro_ue  &trans     &trans              &trans
&trans &mt A &macro_ae  &trans      &trans      &trans      &trans                              &trans      &trans      &trans           &trans     &mt O &macro_oe     &trans
&trans &trans           &trans      &trans      &trans      &trans   &trans         &trans      &trans      &trans      &trans           &trans     &trans              &trans
                                                &trans      &trans   &trans         &trans      &trans      &trans
            >;

        };
        Symbole {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC                         &kp N1  &kp N2  &kp N3      &kp N4         &kp N5                                  &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp 
&kp TAB                         &kp Q   &kp W   &kp F       &kp P          &kp B                                   &kp J  &kp L    &kp U     &kp Y   &kp SEMI    &kp 
&mt LEFT_CONTROLL RIGHT_CONTROL &kp A   &kp R   &kp S       &kp T          &kp G                                   &kp M  &kp N    &kp E     &kp I   &kp O    &kp LALT
&mt LEFT_SHIFT RIGHT_SHIFT      &kp Z   &kp X   &kp C       &kp D          &kp V       &kp LBKT       &kp RBKT     &kp K  &kp H    &kp COMMA &kp PERIOD  &kp SLASH  &kp LGUI
                                                            &sk LEFT_SHIFT &kp SPACE   &mo 2          &mo 3        &kp ENTER       &sk LEFT_CONTROL
            >;

            
        };
        Tastatur {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC                         &kp N1  &kp N2  &kp N3      &kp N4         &kp N5                                  &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp 
&kp TAB                         &kp Q   &kp W   &kp F       &kp P          &kp B                                   &kp J  &kp L    &kp U     &kp Y   &kp SEMI    &kp 
&mt LEFT_CONTROLL RIGHT_CONTROL &kp A   &kp R   &kp S       &kp T          &kp G                                   &kp M  &kp N    &kp E     &kp I   &kp O    &kp LALT
&mt LEFT_SHIFT RIGHT_SHIFT      &kp Z   &kp X   &kp C       &kp D          &kp V       &kp LBKT       &kp RBKT     &kp K  &kp H    &kp COMMA &kp PERIOD  &kp SLASH  &kp LGUI
                                                            &sk LEFT_SHIFT &kp SPACE   &mo 2          &mo 3        &kp ENTER       &sk LEFT_CONTROL
            >;

            
        };
        Gaming {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |
            bindings = <
&kp ESC                         &kp N1  &kp N2  &kp N3      &kp N4         &kp N5                                  &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp 
&kp TAB                         &kp Q   &kp W   &kp F       &kp P          &kp B                                   &kp J  &kp L    &kp U     &kp Y   &kp SEMI    &kp 
&mt LEFT_CONTROLL RIGHT_CONTROL &kp A   &kp R   &kp S       &kp T          &kp G                                   &kp M  &kp N    &kp E     &kp I   &kp O    &kp LALT
&mt LEFT_SHIFT RIGHT_SHIFT      &kp Z   &kp X   &kp C       &kp D          &kp V       &kp LBKT       &kp RBKT     &kp K  &kp H    &kp COMMA &kp PERIOD  &kp SLASH  &kp LGUI
                                                            &sk LEFT_SHIFT &kp SPACE   &mo 2          &mo 3        &kp ENTER       &sk LEFT_CONTROL
            >;

            
        };
    }
};

// Layer 2 Deutsches Home
// Layer 3 FN tasten und Symbole
// Layer 4 Behaviout
// Layer 5 Gaming